
@{
    ViewBag.Title = "Items";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Home/Items.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Home/Items.js"></script>
}

<div id="homeItemsContainer">
    <div class="categories-container">
        <div class="categories-left-item">
            <a href="~/shop/notepads" class="categories-item"  data-bind="css: { 'selected-category': category == 'Notepad' }">@ViewBag.ResourceManager.GetString("notepadsCategory")</a>
        </div>
        <div>
            <a href="~/shop/pens" class="categories-item" data-bind="css: { 'selected-category': category == 'Pen' }">@ViewBag.ResourceManager.GetString("pensCategory")</a>
        </div>
    </div>

    <div class="items-count-container ">
        <select data-bind="options: availableItemsCountOnPage, value: itemsCountOnPage, event:{change: itemsCountOnPageChange}"></select>
    </div>

    <div class="row items-container" data-bind="foreach: items">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="item">
                <div class="item-container">
                    <div>
                        <a class="item-image-contaner" data-bind="attr: { href: '/shop/item?code=' + Code}">
                            <img class="item-image" data-bind="attr: { src: '/Content/Item/Images/' + MainImageName }" alt="image can't be loaded" />
                        </a>
                    </div>
                    <div class="item-container-right">
                        <div class="item-container-header">
                            <div><p>Код товара</p></div>
                            <div class="item-code-container">
                                <a data-bind="attr: { href: '/shop/item?code=' + Code}">
                                    <div class="item-code-spinner"></div>
                                    <p class="item-code" data-bind="text: Code"></p>
                                </a>
                            </div>
                        </div>
                        <div class="item-name-container">
                            <a data-bind="attr: { href: '/shop/item?code=' + Code}">
                                <p data-bind="text: Name"></p>
                            </a>                          
                        </div>
                        <div class="item-container-footer">
                            <div class="price-container">
                                <p data-bind="text: Price"></p>
                                <p>₴</p>
                            </div>
                            <div class="add-item-btn-container">
                                <p class="ns-btn" data-bind="click: $root.addItemToCartClick">@ViewBag.ResourceManager.GetString("addItemToShopppingCart")</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-screen-footer">
                    <div class="item-container-footer">
                        <div class="price-container">
                            <p data-bind="text: Price"></p>
                            <p>₴</p>
                        </div>
                        <div class="add-item-btn-container">
                            <p class="ns-btn" data-bind="click: $root.addItemToCartClick">@ViewBag.ResourceManager.GetString("addItemToShopppingCart")</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="pagination-container" data-bind="visible: isPaginationVisible">
        <div class="pagination-element pagination-arrow left-arrow" data-bind="click: leftArrowClick,  css: { 'div-disabled': isLeftArrowDisabled }"></div>
        <div class="pagination-element pagination-element-number"
             data-bind="visible: firstPaginationElement().number, click: function() { paginationElementClick(firstPaginationElement().number()) }, text: firstPaginationElement().number, css: { 'selected-pagination-element': firstPaginationElement().isMarked }"></div>
        <div class="pagination-element pagination-element-number"
             data-bind="visible: secondPaginationElement().number, click: function() { paginationElementClick(secondPaginationElement().number()) }, text: secondPaginationElement().number, css: { 'selected-pagination-element': secondPaginationElement().isMarked }"></div>
        <div class="pagination-element pagination-element-number"
             data-bind="visible: thirdPaginationElement().number, click: function() { paginationElementClick(thirdPaginationElement().number()) }, text: thirdPaginationElement().number, css: { 'selected-pagination-element': thirdPaginationElement().isMarked }"></div>
        <div class="pagination-element pagination-element-number"
             data-bind="visible: thourthPaginationElement().number, click: function() { paginationElementClick(thourthPaginationElement().number()) }, text: thourthPaginationElement().number, css: { 'selected-pagination-element': thourthPaginationElement().isMarked }"></div>
        <div class="pagination-element pagination-element-number"
             data-bind="visible: fifthPaginationElement().number, click: function() { paginationElementClick(fifthPaginationElement().number()) }, text: fifthPaginationElement().number, css: { 'selected-pagination-element': fifthPaginationElement().isMarked }"></div>
        <div class="pagination-element pagination-arrow right-arrow" data-bind="click: rightArrowClick, css: { 'div-disabled': isRightArrowDisabled }"></div>
    </div>
</div>

<script>
    var category = '@ViewBag.ItemsCategory';
</script>