<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>

    <link type="text/css" rel="stylesheet" href="~/Content/Layout.css" />
    @* <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" />

        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>*@
</head>
<body>
    <div class="tokenContainer">
        @Html.AntiForgeryToken()
    </div>

    <div id="navnarMenu">
        <div class="navbar-container">
            <div id="languageContainer">
                @switch ((string)ViewBag.Language)
                {
                    case "en":
                        <div class="flag">
                            <img class="flag" src="~/Content/Flags/GreatBritainFlag.svg" alt="En">
                        </div>
                        break;
                    case "uk":
                        <div class="flag">
                            <img class="flag" src="~/Content/Flags/UkraineFlag.svg" alt="Uk">
                        </div>
                        break;
                    case "ru":
                    default:
                        <div class="flag">
                            <img class="flag" src="~/Content/Flags/RussiaFlag.svg" alt="Ru">
                        </div>
                        break;
                }

                @*<div id="languageRu" data-bind="if: ruLanguageSelected">
                    Русский
                </div>
                <div id="languageUk" data-bind="if: ukLanguageSelected">
                    Українська
                </div>
                <div id="languageEn" data-bind="if: enLanguageSelected">
                    English
                </div>*@
            </div>
            <div id="userInfoContainer">
                <div class="display-inline height100">
                    <i class="material-icons person-icon">person</i>
                </div>
                <div class="display-inline height100">
                    <div data-bind="if: isLoggedIn">
                        <p data-bind="text: email"></p>
                    </div>
                    <div data-bind="ifnot: isLoggedIn">
                        <span id="logInBtn" data-target="loginModal">@ViewBag.ResourceManager.GetString("loginOrRegisterLabel")</span>
                        @*<a class="waves-effect waves-light btn modal-trigger" data-target="loginModal">Modal</a>*@
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div id="languagePopup" class="popup">
        @if (!((string)ViewBag.Language == "ru"))
        {
            <div id="popup-language-ru" class="popup-language-item flag">
                <img class="flag" src="~/Content/Flags/RussiaFlag.svg" alt="Ru">
            </div>
        }
        @if (!((string)ViewBag.Language == "uk"))
        {
            <div id="popup-language-uk" class="popup-language-item flag">
                <img class="flag" src="~/Content/Flags/UkraineFlag.svg" alt="Uk">
            </div>
        }
        @if (!((string)ViewBag.Language == "en"))
        {
            <div id="popup-language-en" class="popup-language-item flag">
                <img class="flag" src="~/Content/Flags/GreatBritainFlag.svg" alt="En">
            </div>
        }
    </div>
    <div id="userInfoPopup" class="popup">
        <p id="logOutBtn">@ViewBag.ResourceManager.GetString("logOutLabel")</p>
    </div>

    <!-- Modal Structure -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <ul class="tabs">
                <li class="tab col s6"><a class="blue-text" href="#modalLogInContainer">@ViewBag.ResourceManager.GetString("loginLabel")</a></li>
                <li class="tab col s6"><a class="blue-text" href="#modalRegisterContainer">@ViewBag.ResourceManager.GetString("registerLabel")</a></li>
            </ul>
            <div id="modalLogInContainer" class="col s12">
                <div class="input-field col s6">
                    <input id="loginEmailInput" type="text" class="validate" data-bind="textInput: loginEmail">
                    <label for="loginEmailInput">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="loginPasswordInput" type="password" class="validate" data-bind="textInput: loginPasword">
                    <label for="loginPasswordInput">@ViewBag.ResourceManager.GetString("passwordLabel")</label>
                </div>
                <div class="authorixztionFailedMessageContainer" data-bind="visible: showLoginFailedMessage">
                    <p class="red-text" data-bind="text: loginFailedMessage"></p>
                </div>
                <div class="center-container">
                    <button id="sumbitLogInBtn" class="btn btn-small btn-submit  btn-blue" data-bind="visible: !displayLogInPreloader(), enable: submitLoginBtnEnabled">
                        @ViewBag.ResourceManager.GetString("loginLabel")
                    </button>
                    <div id="logInPreloader" class="small-preloader-holder" data-bind="visible: displayLogInPreloader">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalRegisterContainer" class="col s12">
                <div class="input-field col s6">
                    <input id="registerEmailInput" type="email" class="validate" data-bind="textInput: registerEmail">
                    <label for="registerEmailInput">Email</label>
                    <span class="email-validation-msg red-text">@ViewBag.ResourceManager.GetString("incorrectEmailValidation")</span>
                </div>
                <div class="input-field col s12">
                    <input id="registerPasswordInput" type="password" data-bind="textInput: registerPasword" class="validate" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                    <label for="registerPasswordInput">@ViewBag.ResourceManager.GetString("passwordLabel")</label>
                    <span class="password-validation-msg red-text">@ViewBag.ResourceManager.GetString("incorrectParrwordValidation")</span>
                </div>
                <div class="authorixztionFailedMessageContainer" data-bind="visible: showRegisterFailedMessage">
                    <p class="red-text" data-bind="text: registerFailedMessage"></p>
                </div>
                <div class="center-container">
                    <a id="sumbitRegisterBtn" class="btn btn-small btn-submit btn-blue" data-bind="visible: !displayRegisterPreloader()">
                        @ViewBag.ResourceManager.GetString("registerLabel")
                    </a>
                    <div id="registrationPreloader" class="small-preloader-holder" data-bind="visible: displayRegisterPreloader">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/Shared/Layout.js"></script>
<script type="text/javascript">
    var email = "@ViewBag.Email";
    var registerUrl = "@Url.Action("Register", "Account")";
    var logInUrl = "@Url.Action("Login", "Account")";
    var logOutUrl = "@Url.Action("Logout", "Account")";
</script>
