<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")


    @* <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/Content/Layout.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-grid.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Shared/tabs-control.css" />

    @RenderSection("styles", required: false)
    @* <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" />

        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>*@
</head>
<body>

    <div class="tokenContainer">
        @Html.AntiForgeryToken()
    </div>

    <div id="layoutConainer">
        <div id="navnarMenu">
            <div class="navbar-container">
                <div id="languageContainer">
                    @switch ((string)ViewBag.Language)
                    {
                        case "en":
                            <div class="flag">
                                <img class="flag" src="~/Content/Flags/GreatBritainFlag.svg" alt="En">
                            </div>
                            break;
                        case "uk":
                            <div class="flag">
                                <img class="flag" src="~/Content/Flags/UkraineFlag.svg" alt="Uk">
                            </div>
                            break;
                        case "ru":
                        default:
                            <div class="flag">
                                <img class="flag" src="~/Content/Flags/RussiaFlag.svg" alt="Ru">
                            </div>
                            break;
                    }
                </div>
                <div id="shoppingCartImageContainer">
                    <i id="shoppingCartBtn" disabled class="material-icons shopping-cart-icon"
                       data-bind="event: { mouseover: showShoppingCartPopup, mouseout: hideShoppingCartPopup }, click: shoppingCartImageClick">shopping_cart</i>
                    <span data-bind="text: shoppingCartItems().length, visible: shoppingCartItems().length > 0"></span>
                </div>
                <div id="userInfoContainer">
                    <div class="display-inline height100">
                        <i class="material-icons person-icon">person</i>
                    </div>
                    <div class="display-inline height100">
                        <div data-bind="if: isLoggedIn">
                            <p data-bind="text: email"></p>
                        </div>
                        <div data-bind="ifnot: isLoggedIn">
                            <span id="logInBtn"
                                  data-bind="click: loginBtnClick">@ViewBag.ResourceManager.GetString("loginOrRegisterLabel")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="languagePopup" class="popup">
            @if (!((string)ViewBag.Language == "ru"))
            {
                <div id="popup-language-ru" class="popup-language-item flag">
                    <img class="flag" src="~/Content/Flags/RussiaFlag.svg" alt="Ru">
                </div>
            }
            @if (!((string)ViewBag.Language == "uk"))
            {
                <div id="popup-language-uk" class="popup-language-item flag">
                    <img class="flag" src="~/Content/Flags/UkraineFlag.svg" alt="Uk">
                </div>
            }
            @if (!((string)ViewBag.Language == "en"))
            {
                <div id="popup-language-en" class="popup-language-item flag">
                    <img class="flag" src="~/Content/Flags/GreatBritainFlag.svg" alt="En">
                </div>
            }
        </div>
        <div id="userInfoPopup" class="popup">
            <p id="logOutBtn">@ViewBag.ResourceManager.GetString("logOutLabel")</p>
            <a href="~/profile/personal-info">Personal данные</a>
            <a href="~/profile/orders">My заказы</a>
        </div>

        <div id="shoppingCartPopup" style="display: none" data-bind="visible: isShoppingCartPopupVisible, event: { mouseover: showShoppingCartPopup, mouseout: hideShoppingCartPopup }">
            <div data-bind="foreach: shoppingCartItems">
                <div>
                    <img class="shopping-cart-item-image" data-bind="attr: { src: '/Content/Item/Images/' + ImageName }" alt="image can't be loaded" />
                    <p data-bind="text: Name"></p>
                    <p data-bind="text: Price"></p>
                    <div>
                        <i class="material-icons cursor-pointer" data-bind="click: function() { $root.minusQuantity($data) }">remove</i>
                        <input type="text" class="quantity-input" data-bind="textInput: Quantity, event:{'keydown': $root.countInputKeyDown, input: $root.countInputInput}" />
                        <i class="material-icons cursor-pointer" data-bind="click: function() { $root.plusQuantity($data) }">add</i>
                    </div>
                    <a class="waves-effect waves-light btn" data-bind="click: function() { $root.deleteItemFromShoppingCart($data) } ">Delete интернализ</a>
                </div>
            </div>
            <div data-bind="visible: shoppingCartItems().length > 0">
                <span>Total cумма: </span>
                <span data-bind="text: $root.totaShoppingCartlPrice"></span>
                <br />
                <button  data-bind="click: shoppingCartImageClick">Открыть Cart</button>
            </div>
            <div data-bind="visible: shoppingCartItems().length == 0">
                Cart is пустая
            </div>

        </div>


        <div id="loginModal" style="display: none" data-bind="visible: isLoginModalVisible">
            <div class="modalContent">
                <div class="ns-tabs">
                    <input type="radio" id="tab1" name="ns-tab-control" checked>
                    <input type="radio" id="tab2" name="ns-tab-control">
                    <ul>
                        <li title="@ViewBag.ResourceManager.GetString("loginLabel")">
                            <label for="tab1" role="button">
                                <span>@ViewBag.ResourceManager.GetString("loginLabel")</span>
                            </label>
                        </li>
                        <li title="@ViewBag.ResourceManager.GetString("registerLabel")">
                            <label for="tab2" role="button">
                                <span>@ViewBag.ResourceManager.GetString("registerLabel")</span>
                            </label>
                        </li>
                    </ul>

                    <div class="ns-tabs-slider"><div class="indicator"></div></div>
                    <div class="ns-tab-content">
                        <section>
                            <div class="input-field">
                                <input id="loginEmailInput" type="text" class="validate" data-bind="textInput: loginEmail">
                                <label for="loginEmailInput">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="loginPasswordInput" type="password" class="validate" data-bind="textInput: loginPasword">
                                <label for="loginPasswordInput">@ViewBag.ResourceManager.GetString("passwordLabel")</label>
                            </div>
                            <div class="authorizationFailedMessageContainer" data-bind="visible: showLoginFailedMessage">
                                <p class="red-text" data-bind="text: loginFailedMessage"></p>
                            </div>
                            <div class="center-container">
                                <button id="sumbitLogInBtn" class="btn btn-small btn-submit  btn-blue" data-bind="visible: !displayLogInPreloader(), enable: submitLoginBtnEnabled">
                                    @ViewBag.ResourceManager.GetString("loginLabel")
                                </button>
                                <div id="logInPreloader" class="small-preloader-holder" data-bind="visible: displayLogInPreloader">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="input-field">
                                <input id="registerEmailInput" type="email" class="validate" data-bind="textInput: registerEmail">
                                <label for="registerEmailInput">Email</label>
                                <span class="email-validation-msg red-text">@ViewBag.ResourceManager.GetString("incorrectEmailValidation")</span>
                            </div>
                            <div class="input-field">
                                <input id="registerPasswordInput" type="password" data-bind="textInput: registerPasword" class="validate" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                                <label for="registerPasswordInput">@ViewBag.ResourceManager.GetString("passwordLabel")</label>
                                <span class="password-validation-msg red-text">@ViewBag.ResourceManager.GetString("incorrectParrwordValidation")</span>
                            </div>
                            <div class="authorizationFailedMessageContainer" data-bind="visible: showRegisterFailedMessage">
                                <p class="red-text" data-bind="text: registerFailedMessage"></p>
                            </div>
                            <div class="center-container">
                                <a id="sumbitRegisterBtn" class="btn btn-small btn-submit btn-blue" data-bind="visible: !displayRegisterPreloader()">
                                    @ViewBag.ResourceManager.GetString("registerLabel")
                                </a>
                                <div id="registrationPreloader" class="small-preloader-holder" data-bind="visible: displayRegisterPreloader">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <button class="closeModalBtn" data-bind="click: closeloginPopupClick">Close</button>
        </div>

        <div id="shoppingCart" style="display: none" data-bind="visible: isShoppingCartVisible">
            <div class="modalContent">
                <div data-bind="foreach: shoppingCartItems">
                    <div>
                        <img class="shopping-cart-item-image" data-bind="attr: { src: '/Content/Item/Images/' + ImageName }" alt="image can't be loaded" />
                        <p data-bind="text: Name"></p>
                        <p data-bind="text: Price"></p>
                        <div>
                            <i class="material-icons cursor-pointer" data-bind="click: function() { $root.minusQuantity($data) }">remove</i>
                            <input type="text" class="quantity-input" data-bind="textInput: Quantity, event:{'keydown': $root.countInputKeyDown, input: $root.countInputInput}" />
                            <i class="material-icons cursor-pointer" data-bind="click: function() { $root.plusQuantity($data) }">add</i>
                        </div>
                        <a class="waves-effect waves-light btn" data-bind="click: function() { $root.deleteItemFromShoppingCart($data) } ">Delete интернализ</a>
                    </div>
                </div>
                <div>
                    <span>Total cумма: </span>
                    <span data-bind="text: $root.totaShoppingCartlPrice"></span>
                </div>
                <hr />
                <div class="contact-info">
                    <p>Contact информация</p>
                    <div class="input-field">
                        <input id="shoppingCartNameInput" type="text" data-bind="textInput: shoppingCartName, event:{'focusin': shoppingCartNameInputFocusIn }">
                        <label for="shoppingCartNameInput">Name/Имя</label>
                        <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: isShoppingCartNameEmpty()">Enter имя</p>
                    </div>
                    <div class="input-field">
                        <input id="shoppingCartSurnameInput" type="text" data-bind="textInput: shoppingCartSurname, event:{'focusin': shoppingCartSurnameInputFocusIn }">
                        <label for="shoppingCartSurnameInput">Surname/Фамилия</label>
                        <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: isShoppingCartSurnameEmpty()">Enter фамилию</p>
                    </div>
                    <div class="input-field">
                        <input id="shoppingCartPhoneInput" type="text" data-bind="textInput: shoppingCartPhone, event:{'focusin': shoppingCartPhoneInputFocusIn }"
                               class="ns-phone-input" placeholder="+38(0XX)-XX-XX-XXX">
                        <label for="shoppingCartPhoneInput">Phone/Телефон</label>
                        <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: isShoppingCartPhoneEmpty()">Enter телефон</p>
                        <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: !isShoppingCartPhoneValid()">телефон is entered incorrectly</p>
                    </div>
                    <div class="input-field">
                        <input id="shoppingCartEmailInput" type="text" data-bind="textInput: shoppingCartEmail">
                        <label for="shoppingCartEmailInput">E-mail</label>
                    </div>
                </div>
                <hr />
                <div class="delivery-info">
                    <p>Delivery информация</p>
                    <div><input type="radio" name="deliveryTypeRadioGroup" value="novaPoshta" data-bind="checked: shoppingCartDeliveryType" />Nova Poshta достав</div>
                    <div><input type="radio" name="deliveryTypeRadioGroup" value="self" data-bind="checked: shoppingCartDeliveryType" />Самовыв</div>
                    <div style="display: none;" data-bind="visible: shoppingCartDeliveryType() === 'novaPoshta'">
                        <div class="input-field">
                            <input id="shoppingCartCityInput" type="text" data-bind="textInput: shoppingCartCity, event:{'focusin': shoppingCartCityInputFocusIn }">
                            <label for="shoppingCartCityInput">City/Город</label>
                            <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: isShoppingCartCityEmpty()">Enter город</p>
                        </div>
                        <div class="input-field">
                            <input id="shoppingCartPostDepartmentInput" type="text"
                                   data-bind="textInput: shoppingCartPostDepartment, event:{'keydown': postDepartmentInputKeyDown, 'focusin': shoppingCartPostDepartmentInputFocusIn }"
                                   class="post-department-input">
                            <label for="shoppingCartPostDepartmentInput">Nova Posta deaprtment/Отделение</label>
                            <p class="shopping-cart-validation-message" style="display: none;" data-bind="visible: isShoppingCartPostDepartmentEmpty()">Enter отделение</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="payment-info">
                    <div><input type="radio" name="paymentTypeRadioGroup" value="cart" data-bind="checked: shoppingCartPaymentType" />Payment на карту</div>
                    <div><input type="radio" name="paymentTypeRadioGroup" value="cash" data-bind="checked: shoppingCartPaymentType"/>Оплата Cash</div>
                </div>
                <a class="waves-effect waves-light btn" data-bind="click: makeOrderClick">Order/заказать</a>
                <button class="closeModalBtn" data-bind="click: shoppingCartCloseBtnClick">Close</button>
            </div>
        </div>

        <div class="session-expired-window" style="display: none;" data-bind="visible: displaySessionExpiredWindow">
            <div>
                <p>Your session is expired. Обновите страницу для дальнейшей работы</p>
            </div>
        </div>

    </div>


    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>

    <script type="text/javascript" src="~/Scripts/Shared/Layout.js"></script>
    <script type="text/javascript" src="~/Scripts/Shared/PhoneInput.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    var email = "@ViewBag.Email";
    var registerUrl = "@Url.Action("Register", "Account")";
    var logInUrl = "@Url.Action("Login", "Account")";
    var logOutUrl = "@Url.Action("Logout", "Account")";
</script>
