@model  NotepadShop.Models.Admin.ChangeItemViewModel
@{
    ViewBag.Title = "Changetem";
}

<h2>Changetem</h2>

@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/Admin/AddNewItem.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Shared/ImageLoader.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Admin/ChangeItem.css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Shared/ImageLoader.js"></script>
    <script type="text/javascript" src="~/Scripts/Admin/ChangeItem.js"></script>
}

<div id="changeItemContainer">
    <h6>Choose category</h6>
    <div class="input-field category-container">
        <select data-bind="options: availableCategories, value: selectedCategory().value, event:{ change: onInputChange(selectedCategory) }"></select>
    </div>

    <h6>Name</h6>
    <div>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a a class="blue-text" href="#ruName">Russian</a></li>
                <li class="tab col s3"><a a class="blue-text" href="#enName">English</a></li>
                <li class="tab col s3"><a a class="blue-text" href="#ukName">Ukrainian</a></li>
            </ul>
        </div>
        <div id="ruName" class="col s12">
            <div class="input-field">
                <input id="ruNameInput" type="text" class="validate" data-bind="textInput: nameRu().value, event:{ change: onInputChange(nameRu) }">
                <label for="ruNameInput">Name</label>
            </div>
        </div>
        <div id="enName" class="col s12">
            <div class="input-field">
                <input id="enNameInput" type="text" class="validate" data-bind="textInput: nameEn().value, event:{ change: onInputChange(nameEn) }">
                <label for="enNameInput">Name</label>
            </div>
        </div>
        <div id="ukName" class="col s12">
            <div class="input-field">
                <input id="ukNameInput" type="text" class="validate" data-bind="textInput: nameUk().value, event:{ change: onInputChange(nameUk) }">
                <label for="ukNameInput">Name</label>
            </div>
        </div>
    </div>
    <div class="input-field">
        <input id="itemPriceInput" type="number" class="validate" data-bind="textInput: price().value, event:{ change: onInputChange(price) }">
        <label for="itemPriceInput">@ViewBag.ResourceManager.GetString("price")</label>
    </div>

    <h6>Main image</h6>
    <div class="loader-container">
        <div class="loader-image-container">
            <div class="loader-btn-contaner">
                <i class="material-icons loader-btn">file_download</i>
            </div>
            <input id="mainImageInput" type='file' class="loader-image-input" accept=".png, .jpg, .jpeg" data-bind="event:{change: onMainImageChange}" />
            <img class="loader-image-style loader-image" data-bind="attr: { src: mainImage().src }" alt="upload image" />
            <div class="image-size-container"></div>
        </div>
    </div>

    <h6>Additional images</h6>
    <i class="material-icons add-image-btn" data-bind="click: addNewImage">add</i>
    <div class="additional-images-container" data-bind="foreach: additionalmages">
        <div class="loader-container">
            <div class="loader-image-container">
                <div class="loader-btn-contaner">
                    <i class="material-icons loader-btn">file_download</i>
                </div>
                <input type='file' class="loader-image-input" accept=".png, .jpg, .jpeg" data-bind="event:{change: $root.onAdditinalImageChange}" />
                <img class="loader-image-style loader-image" data-bind="attr: { src: $data.src }" alt="upload image" />
                <div class="image-size-container"></div>
                <div class="delete-img-btn-container">
                    <p class="delete-img-btn" data-bind="click: $parent.removeAdditionalImage">Remove</p>
                </div>
            </div>
        </div>
    </div>

    
    <a class="waves-effect waves-light btn" data-bind="click: saveItem">Save</a>

</div>


<script type="text/javascript">
    var inputData = {
        key: '@Model.Key',
        code: '@Model.Code',
        price: Number('@Model.Price'.replace(',', '.')),
        category: '@Model.Category',
        additionalImages: @Html.Raw(Json.Encode(Model.AdditionalImages)),
        ruName: '@Model.RuName',
        engName: '@Model.EngName',
        ukrName: '@Model.UkrName',
        mainImageName: '@Model.MainIImageName',
        allCategories: @Html.Raw(Json.Encode(Model.AllCategories))
    };
</script>

